[Unit]
Description=Fortune Machine Service
After=multi-user.target

[Service]
Type=simple
User=pi
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStart=/bin/bash /home/pi/FortuneMachine_CodeRaspberryPI-main/start_fortune_machine.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target 